@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@900&display=swap");
/* UTILITY CLASSES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: #cccccc;
  --footer: #1a1a2e; /* use this for footer */
  --Light-Blue: #add8e6;
  --image-background: #ffb366; /* use this in navbar anchor tags as well */
  --primary-background-color: #f5f5dc;
  --Soft-Pink: #ffd9e5;
  --Dark-Slate-Gray: #2b3856;
  --black: black; /* will be using this for fonts */
  --font-family-sans: "Open Sans", sans-serif;
  --font-family-roboto: "Roboto", sans-serif;
}

body {
  background-color: var(--primary-background-color);
}

#loader {
  background: #18181b url(images/loader.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

/* main section */

.container {
  max-width: 1370px;
  background-color: blue;
  margin: 0 auto;
}

/* Nav bar */

nav {
  background-color: red;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logo p {
  font-family: var(--font-family-sans);
  font-weight: 700;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: var(--black);
  font-family: var(--font-family-sans);
  font-weight: 400;
  font-size: 1.3rem;
  margin-left: 5rem;
}

.home {
  background-color: green;
  height: 100vh;
}
